@import "../base/reset.scss";
@import "../base/typography.scss";
@import "../sass-utils/variables.scss";

body {
    font-family: 'hind-regular';
    font-size: 10px;
}

.about {

    font-family: "hind-regular";
    color: $main-font-color;
    font-size: 1rem;
    background-color: $bg-color-dark;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    hr {
        border: 2px solid $hr-color;
        height: 2px;
        width: 30px;
        margin-top:20px;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
    }

    .about__title{

        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;

        h1 {
            color: white;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.6rem;
            padding-top: 50px;
            text-transform: lowercase;

            span {
                color: $main-color;
            }
        }

        .nav__subtitle{
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-transform: uppercase;
            margin-bottom: 50px;

            li {
                margin-top: 10px;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 10px;
            }

            .nav__subtitle--white {
                color: white;
            }
        }

        background-image: linear-gradient(
            290deg,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.6) 100%
        ),url('/resources/images/gallery/slide-1.jpg');
        background-size: cover;

    }

    h2 {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
        margin-bottom: 70px;
    }

    li {
        text-decoration: none;
        list-style-type: none;
    }

    .Howto {

        article {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1rem;
            margin: 10px;
        }

        p {
            width: 90%;
            margin-bottom: 30px;
            font-size: 0.9rem;
        }

        .Howto__bar {
            background-color: $hr-color;
            transform: rotate(30deg);
            width: 2px;
            height: 95px;
            z-index: 0;
            position: relative;
            margin-top: -84px;
        }

        img {
            z-index: 1;
            width: 70px;
            background-color: $bg-color-dark;
            border-radius: 50%;
            outline: 2px solid $hr-color;
            padding: 15px;
        }
    }

        .Video {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image:  linear-gradient(
                290deg,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.6) 100%
            ),url("/resources/images/gallery/gallery-1.jpg");
            min-height: 140px;
            background-size: cover;

            img {
                width: 20px;
                height: 20px;
                margin-top: 20px;
            }

            .Video__button {
                background-color: $main-color;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                outline: 4px solid rgba(126, 126, 126, 0.523);
            }
        }
    }

    .certificate {

        h2 {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        img {
            margin-bottom: 15px;
        }
    }

    .team {
        background-color: $bg-color-medium;
        width: 100%;

        h2 {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        h3 {
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2rem;
            margin-top: 10px;
        }

        h4 {
            font-size: 0.9rem;
            margin-bottom: 50px;
        }

        img {
            max-height: 300px;
        }
    }

    .opinion {

        h2 {
            margin-top: 40px;
            margin-bottom: 5px;
        }
        a {
            font-size: 0.6rem;
            color: $main-color;
            line-height: 2rem;
            letter-spacing: 0.1rem;
            text-decoration: none;
            border-bottom: 1px solid $main-color;
            text-transform: capitalize;
        }

        blockquote {
            width: 330px;
            font-size: 0.9rem;
            padding-bottom: 40px;
            padding-top: 30px;
        }

        figcaption {
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 0.8rem;
            margin-bottom: 20px;
        }
    }

    .faq {
        background-color: $bg-color-light;

        hr {
            border-color: $hr-color-light;
        }

        h2 {
            margin-top: 40px;
            margin-bottom: 5px;
            color: $hr-color
        }

        h5 {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: $bg-color-dark;
            font-size: 1rem;
        }

        p {
            color: $hr-color-light;
            font-size: 0.9rem;
            margin-left: 5px;
            margin-right: 5px;
            font-weight: 100;
        }

        .faq__question {
            text-align: left;
        }
    }
}

