@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@700&display=swap");
@font-face {
  font-family: "hind-bold";
  src: url(../assets/font/hind-bold.otf);
  font-style: bold;
}
@font-face {
  font-family: "hind-light";
  src: url(../assets/font/hind-light.otf);
  font-style: light;
}
@font-face {
  font-family: "hind-medium";
  src: url(../assets/font/hind-medium.otf);
  font-style: medium;
}
@font-face {
  font-family: "hind-regular";
  src: url(../assets/font/hind-regular.otf);
  font-style: regular;
}
@font-face {
  font-family: "hind-semibold";
  src: url(../assets/font/hind-semibold.otf);
  font-style: semibold;
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-family: "hind-regular";
  font-size: 10px;
}

main {
  color: #717171;
  font-size: 1rem;
}

hr {
  border: 2px solid #333333;
  width: 40px;
  margin: 0 0 20px 0;
}

.button {
  border-radius: 500px;
  color: white;
  text-decoration: none;
  font-family: "hind-bold";
  font-size: 0.8rem;
  padding: 1rem 2rem;
}
.button--red {
  background-color: #F60B0E;
}
.button--white {
  border: 1px solid #C5CFD7;
  margin-bottom: 75px;
}

/* FEATURED ROOMS */
.section-rooms {
  background: #1b1b1b;
  padding-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-rooms h2 {
  color: white;
  font-family: "hind-bold";
  font-size: 3rem;
  margin-bottom: 100px;
}

.section-rooms__article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 150px;
}
.section-rooms__article h3 {
  color: white;
  font-family: "hind-bold";
  font-size: 2rem;
}

.section-rooms__article--aside {
  background: #222222;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  padding: 80px 40px;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.section-rooms__article--aside__info {
  font-size: 0.8rem;
}

.section-rooms__article--aside__info span:nth-child(2) {
  margin: 0 30px;
}

.section-rooms__icon {
  width: 15px;
}

/* HOW IT WORKS */
.section-works {
  background: #222222;
  padding: 130px 0 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-works h2 {
  color: white;
  font-family: "hind-bold";
  font-size: 3rem;
  margin-bottom: 100px;
}
.section-works ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-works ul li {
  width: 300px;
  margin: 0 50px;
  text-align: center;
}
.section-works ul li p:first-of-type {
  color: white;
  font-family: "hind-bold";
  font-size: 1.8rem;
}
.section-works .section-works__title {
  color: white;
}
.section-works .section-works__icon {
  width: 200px;
}

/* TESTIMONIALS */
.section-testimonials {
  padding: 130px 0 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-testimonials h2 {
  color: #222222;
  font-family: "hind-bold";
  font-size: 3rem;
  margin-bottom: 100px;
}

.section-testimonials__content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.section-testimonials__content figure {
  margin: 0 50px;
  text-align: center;
  width: 450px;
}
.section-testimonials__content figure p {
  font-size: 1.2rem;
}
.section-testimonials__content figure img {
  margin: 50px 0 20px 0;
}
.section-testimonials__content figure figcaption {
  text-transform: uppercase;
}

/* LATEST BLOG POSTS */
.section-blog {
  background: #222222;
  padding: 130px 0 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-blog h2 {
  color: white;
  font-family: "hind-bold";
  font-size: 3rem;
  margin-bottom: 20px;
}
.section-blog__sub-title {
  color: #F60B0E;
  text-decoration: none;
  border-bottom: 1px solid #F60B0E;
  margin-bottom: 70px;
  font-family: "hind-light";
}
.section-blog__content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.section-blog__article {
  width: 360px;
  margin: 0 15px;
}
.section-blog__article--top div {
  display: flex;
  align-items: center;
  position: relative;
  left: 20px;
  bottom: 60px;
}
.section-blog__article--top div img {
  border-radius: 500px;
  border: 2px solid white;
}
.section-blog__article--top .author-name {
  margin-left: 10px;
  color: white;
}
.section-blog__article .section-blog__article--bottom span {
  font-size: 0.8rem;
}
.section-blog__article .section-blog__article--bottom hr {
  border: 2px solid #333333;
  width: 40px;
  margin: 10px 0 20px 0;
}
.section-blog__article .section-blog__article--bottom h3 {
  color: white;
  font-family: "hind-bold";
  font-size: 1.8rem;
  margin-bottom: 20px;
}

/* WHO CAN PLAY */
.section-who {
  height: 650px;
  background: url(../images/gallery/section-bg-img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.section-who img {
  width: 70px;
}
.section-who ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.section-who ul li {
  display: flex;
  flex-direction: row;
}

/* INSTAGRAM SHOTS */
.section-instagram {
  padding: 130px 0 150px 0;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-instagram h2 {
  color: white;
  font-family: "hind-bold";
  font-size: 3rem;
  margin-bottom: 20px;
}
.section-instagram__sub-title {
  color: #F60B0E;
  text-decoration: none;
  border-bottom: 1px solid #F60B0E;
  margin-bottom: 70px;
  font-family: "hind-light";
}
.section-instagram .instagram {
  width: 15px;
}
.section-instagram__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

/*# sourceMappingURL=style.css.map */
