/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@700&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "hind-bold";
  src: url(../assets/font/hind-blod.otf);
  font-style: bold;
}
@font-face {
  font-family: "hind-light";
  src: url(../assets/font/hind-light.otf);
  font-style: light;
}
@font-face {
  font-family: "hind-medium";
  src: url(../assets/font/hind-medium.otf);
  font-style: medium;
}
@font-face {
  font-family: "hind-regular";
  src: url(../assets/font/hind-regular.otf);
  font-style: regular;
}
@font-face {
  font-family: "hind-semibold";
  src: url(../assets/font/hind-semibold.otf);
  font-style: semibold;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.2);
}

footer .footer__top__blocs__workingHours__container__shedule--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__top__blocs__socialLinks .footer__top__blocs__socialLinks__container__icons--grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.footer__top__blocs__socialLinks .footer__top__blocs__socialLinks__container__icons--grid.footer__top__blocs__socialLinks__container__icons--grid * {
  width: 40px;
}

.footer__top__blocs__socialLinks__container__icons--grid * :first-child {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid;
}

footer .footer__bot--flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  border-top: 1px solid white;
}
footer .footer__bot--flexbox .footer__bot__container--flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}

footer {
  width: 412px;
  height: auto;
  background-image: url(/resources/images/gallery/room-7-1600-599.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: red;
}
footer p {
  font-size: 12px;
}
footer .footer__bgColor {
  width: 100%;
  height: 100%;
  background-color: red;
}

footer .footer__top--flexbox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__top__blocs--grid {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-row-gap: 12px;
}
footer .footer__top__blocs__ourAddress__index--flexbox,
footer .footer__top__blocs__usefulLinks__index--flexbox,
footer .footer__top__blocs__workingHours__index--flexbox,
footer .footer__top__blocs__socialLinks__index--flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60px;
}
footer .footer__top__blocs__ourAddress__index--flexbox :first-child,
footer .footer__top__blocs__usefulLinks__index--flexbox :first-child,
footer .footer__top__blocs__workingHours__index--flexbox :first-child,
footer .footer__top__blocs__socialLinks__index--flexbox :first-child {
  color: white;
  margin: 5px;
}

footer hr {
  width: 30px;
  height: 2px;
  border: none;
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
