/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@700&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "hind-bold";
  src: url(../assets/font/hind-blod.otf);
  font-style: bold;
}
@font-face {
  font-family: "hind-light";
  src: url(../assets/font/hind-light.otf);
  font-style: light;
}
@font-face {
  font-family: "hind-medium";
  src: url(../assets/font/hind-medium.otf);
  font-style: medium;
}
@font-face {
  font-family: "hind-regular";
  src: url(../assets/font/hind-regular.otf);
  font-style: regular;
}
@font-face {
  font-family: "hind-semibold";
  src: url(../assets/font/hind-semibold.otf);
  font-style: semibold;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 412px) {
  .footer__top__blocs--grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 412px) {
  .footer__top__blocs--grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 768px) {
  .footer__top__blocs--grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
  }
}
.footer__top__blocs__ourAddress__container--flexbox {
  margin: 0px 25px 15px;
}

.footer__top__blocs__ourAddress__container__title {
  margin: 20px 0px 20px;
}

.footer__top__blocs__ourAddress__container--flexbox {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__top__blocs__usefulLinks__container {
  margin: 0px 25px 20px;
  height: 230px;
}
.footer__top__blocs__usefulLinks__container .footer__top__blocs__usefulLinks__container__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__top__blocs__usefulLinks__container .footer__top__blocs__usefulLinks__container__links * {
  margin-bottom: 10px;
}

.footer__top__blocs__usefulLinks__container__title {
  margin: 20px 0px 20px;
}

.footer__top__blocs__workingHours__container {
  margin: 0px 25px;
}

.footer__top__blocs__workingHours__title {
  margin: 20px 0px 20px;
}

footer .footer__top__blocs__workingHours__container__shedule--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 200px;
}
footer .footer__top__blocs__workingHours__container__shedule--grid * {
  margin-bottom: 15px;
}

.footer__top__blocs__socialLinks__container {
  margin: 0px 25px;
}

.footer__top__blocs__socialLinks__container__title {
  margin: 20px 0px 20px;
}

.footer__top__blocs__socialLinks .footer__top__blocs__socialLinks__container__icons--grid {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(2, 50px);
  align-items: center;
  justify-items: center;
  margin: 0px 0px 50px;
}
.footer__top__blocs__socialLinks .footer__top__blocs__socialLinks__container__icons--grid.footer__top__blocs__socialLinks__container__icons--grid * {
  width: 40px;
}
.footer__top__blocs__socialLinks .footer__top__blocs__socialLinks__container__icons--grid.footer__top__blocs__socialLinks__container__icons--grid * img {
  filter: invert(1);
}

.footer__top__blocs__socialLinks__container__icons--grid * :first-child {
  background-color: rgba(146, 146, 146, 0.205);
  padding: 10px;
  border-radius: 50%;
}

.footer__bot--flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.493);
  width: 100%;
  height: 150px;
  border-top: 1px solid #717171;
}
.footer__bot--flexbox .footer__bot__container--flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}
.footer__bot--flexbox .footer__bot__container--flexbox a {
  color: #717171;
  font-size: 12px;
}

.footer__bot__container__logo {
  width: 130px;
}

footer {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
}
footer h2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
footer p {
  font-size: 12px;
  font-weight: lighter;
  color: #717171;
}
footer a {
  color: white;
  text-decoration: none;
}

.footer__bgImage {
  width: 100%;
  height: 100%;
  background-color: rgb(58, 58, 58);
  position: absolute;
  z-index: -1;
}
.footer__bgImage .footer__bgImage__color {
  background-color: rgb(255, 4, 4);
  width: 100%;
  height: 100%;
  opacity: 100%;
}
.footer__bgImage .footer__bgImage__image {
  width: 100%;
  height: 100%;
  background-image: url(/resources/images/gallery/room-7-1600-599.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

footer .footer__top--flexbox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__top__blocs--grid {
  width: 90%;
}
footer .footer__top__blocs__ourAddress__index--flexbox,
footer .footer__top__blocs__usefulLinks__index--flexbox,
footer .footer__top__blocs__workingHours__index--flexbox,
footer .footer__top__blocs__socialLinks__index--flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60px;
}
footer .footer__top__blocs__ourAddress__index--flexbox :first-child,
footer .footer__top__blocs__usefulLinks__index--flexbox :first-child,
footer .footer__top__blocs__workingHours__index--flexbox :first-child,
footer .footer__top__blocs__socialLinks__index--flexbox :first-child {
  color: white;
  margin: 5px;
}

footer hr {
  width: 30px;
  height: 2px;
  border: none;
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
