/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@700&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "hind-bold";
  src: url(../assets/font/hind-bold.otf);
  font-style: bold;
}
@font-face {
  font-family: "hind-light";
  src: url(../assets/font/hind-light.otf);
  font-style: light;
}
@font-face {
  font-family: "hind-medium";
  src: url(../assets/font/hind-medium.otf);
  font-style: medium;
}
@font-face {
  font-family: "hind-regular";
  src: url(../assets/font/hind-regular.otf);
  font-style: regular;
}
@font-face {
  font-family: "hind-semibold";
  src: url(../assets/font/hind-semibold.otf);
  font-style: semibold;
}
/* Navbar */
.navbar {
  z-index: 2;
  width: 100%;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5));
  display: flex;
  flex-direction: row;
  height: 80px;
}
.navbar__navigation {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: "hind-bold";
}
.navbar__navigation li {
  position: relative;
  margin: 0 20px;
}
.navbar__navigation li span {
  display: none;
}
.navbar__navigation a {
  font-size: 1.2rem;
  color: #717171;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  text-transform: lowercase;
}
.navbar__navigation a:before {
  content: "";
  position: absolute;
  margin-left: 50%;
  height: 50px;
  bottom: -50%;
  transform: translateX(-50%) rotate(-135deg) scale(0);
  transition: transform 0.5s cubic-bezier(0.2, 1, 0.2, 1);
  z-index: -1;
}
.navbar__navigation a:hover:before {
  background-color: #F60B0E;
  width: 3px;
  transform: translateX(-50%) rotate(-135deg) scale(1);
}
.navbar__navigation a:hover {
  color: white;
  transition: 0.2s ease-in-out;
}
.navbar__right-side {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 10px;
  top: -54px;
  width: 300px;
}
.navbar__right-side .button--white {
  padding: 0.7rem 2rem;
}
.navbar__right-side .button--white:hover {
  background: #717171;
}
.navbar__right-side a {
  font-size: 0.8rem;
  border: 2px solid #717171;
  margin-top: 70px;
}

.navbar__right-side__sign-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar__right-side__sign-in span {
  margin-left: 5px;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-family: "hind-medium";
}
.navbar__right-side__sign-in span:hover {
  color: #F60B0E;
  transition: 0.2s ease-in-out;
}

.navbar__right-side__icon {
  width: 23px;
}

.navbar__right-side__hamburger {
  display: none;
  height: 50px;
  width: 50px;
  position: relative;
}
.navbar__right-side__hamburger .cont-lines {
  height: 26px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar__right-side__hamburger .cont-lines .hamburger__lines {
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background: white;
  position: absolute;
  transition: all 0.2s ease-in-out;
}
.navbar__right-side__hamburger .cont-lines .hamburger__lines:nth-child(1) {
  top: 0px;
}
.navbar__right-side__hamburger .cont-lines .hamburger__lines:nth-child(2) {
  top: 11px;
}
.navbar__right-side__hamburger .cont-lines .hamburger__lines:nth-child(3) {
  top: 22px;
}

.btn1.active .hamburger__lines:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}

.btn1.active .hamburger__lines:nth-child(2) {
  opacity: 0;
  transform: translateX(-70px);
}

.btn1.active .hamburger__lines:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: top 0.3s;
  transition-delay: 0.2s;
}

.navbar.hidden {
  top: -80px;
}

.navbar__right-side__sign-in.nav__left {
  display: none;
}

@media (max-width: 1200px) {
  .navbar__right-side a {
    opacity: 0;
  }
}
.navbar__navigation.mobile-menu {
  transition: 0.2s ease-in-out;
  left: 0;
}

@media (max-width: 1100px) {
  .navbar a:hover:before {
    width: 0;
  }
  .navbar__navigation li {
    position: relative;
  }
  .navbar__navigation li span {
    display: inline-block;
    position: absolute;
    right: 25px;
    bottom: 3px;
    font-family: "hind-light";
    color: #717171;
    font-size: 2rem;
  }
  .navbar__right-side__sign-in.nav__left {
    margin-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 25px;
    border-bottom: 1px solid #333333;
    width: 270px;
    display: block;
  }
  .navbar__right-side__sign-in.nav__left img {
    position: relative;
    top: 8px;
  }
  .navbar__right-side__sign-in.nav__right {
    display: none;
  }
  .navbar__right-side__hamburger {
    display: block;
  }
  .navbar__navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #222222;
    width: 270px;
    height: 100vh;
    left: -270px;
    z-index: 3;
  }
  .navbar__navigation li {
    margin-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #333333;
    width: 270px;
  }
  .navbar__navigation li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 25px;
    font-family: "hind-medium";
    font-size: 0.9rem;
    color: white;
    text-transform: none;
  }
}
@media (max-width: 770px) {
  .navbar {
    height: 50px;
  }
  .navbar__right-side {
    right: -10px;
    top: -71px;
  }
}
body {
  font-family: "hind-regular";
  font-size: 10px;
}

.about {
  font-family: "hind-regular";
  color: #717171;
  font-size: 1rem;
  background-color: #1b1b1b;
  text-align: center;
  display: flex;
  max-height: max-content;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.about h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 70px;
}
.about li {
  text-decoration: none;
  list-style-type: none;
}
.about hr {
  border: 2px solid #333333;
  height: 2px;
  width: 30px;
  margin-top: 20px;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}
.about .about__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  background-image: linear-gradient(290deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("/resources/images/gallery/slide-1.jpg");
  background-size: cover;
}
.about .about__title h1 {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  padding-top: 50px;
  text-transform: lowercase;
}
.about .about__title h1 span {
  color: #F60B0E;
}
.about .about__title .nav__subtitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.about .about__title .nav__subtitle li {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
}
.about .about__title .nav__subtitle .nav__subtitle--white {
  color: white;
}
.about .Howto .Howto__content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about .Howto article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .Howto article h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  margin: 10px;
}
.about .Howto article p {
  max-width: 300px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}
.about .Howto article .Howto__bar {
  background-color: #333333;
  transform: rotate(30deg);
  width: 2px;
  height: 95px;
  z-index: 0;
  position: relative;
  margin-top: -84px;
}
.about .Howto article img {
  z-index: 1;
  width: 70px;
  background-color: #1b1b1b;
  border-radius: 50%;
  outline: 2px solid #333333;
  padding: 15px;
}
.about .Howto .Video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(290deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("/resources/images/gallery/gallery-1.jpg");
  min-height: 140px;
  background-size: cover;
}
.about .Howto .Video img {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}
.about .Howto .Video .Video__button {
  background-color: #F60B0E;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  outline: 4px solid rgba(126, 126, 126, 0.523);
}
.about .Howto .Video .Video__button:hover {
  outline: 0px;
}
.about .certificate h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.about .certificate img {
  margin: 15px;
}
.about .team {
  background-color: #222222;
  width: 100%;
}
.about .team .team__content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about .team h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.about .team h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-top: 10px;
}
.about .team h4 {
  font-size: 0.9rem;
  margin-bottom: 50px;
}
.about .team img {
  max-height: 300px;
}
.about .team img:hover {
  border: 10px solid #F60B0E;
}
.about .opinion h2 {
  margin-top: 40px;
  margin-bottom: 5px;
}
.about .opinion a {
  font-size: 0.6rem;
  color: #F60B0E;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  border-bottom: 1px solid #F60B0E;
  text-transform: capitalize;
}
.about .opinion a:hover {
  color: white;
  border-bottom: 1px solid white;
  transform: translate(-50%, -50%);
}
.about .opinion blockquote {
  width: 330px;
  font-size: 0.9rem;
  padding-bottom: 40px;
  padding-top: 30px;
}
.about .opinion figcaption {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.about .faq {
  background-color: #FEFEFE;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .faq hr {
  border-color: #9B9B9B;
  height: 2px;
}
.about .faq h2 {
  margin-top: 40px;
  margin-bottom: 5px;
  color: #333333;
}
.about .faq h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #1b1b1b;
  font-size: 1rem;
}
.about .faq p {
  color: #9B9B9B;
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 20px;
}
.about .faq .faq__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 60%;
}
.about .faq .faq__content .faq__question {
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.about .faq .faq__content .faq__button {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  color: #777;
  margin-right: 20px;
  position: relative;
}
.about .faq .faq__content .faq__button::before {
  content: "";
  height: 50px;
  width: 50px;
  background-color: rgba(194, 194, 194, 0.2549019608);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 800px) {
  body .about .about__title h1 {
    margin-top: 50px;
    font-size: 3rem;
  }
}
/*--------------I M P O R T S--------------------*/
.contact__container__header__container--flexbox {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact__container__header__container--flexbox .contact__container__header__container__inner__container--flexbox {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__container__header__container--flexbox .contact__container__header__container__inner__container--flexbox .contact__container__header__container__inner__container__top {
  font-family: Montserrat, sans-serif;
}
.contact__container__header__container--flexbox .contact__container__header__container__inner__container--flexbox .contact__container__header__container__inner__container__top ::after {
  content: ".";
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: red;
}
.contact__container__header__container--flexbox .contact__container__header__container__inner__container--flexbox .contact__container__header__container__inner__container__bot {
  width: 90%;
}
.contact__container__header__container--flexbox .contact__container__header__container__inner__container--flexbox .contact__container__header__container__inner__container__bot ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact__container__header__container--flexbox .contact__container__header__container__inner__container--flexbox .contact__container__header__container__inner__container__bot ul li {
  font-weight: bold;
}

.contact__container__header__container__bgImage {
  background-image: url(/resources/images/gallery/slide-1.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.contact__container__main__container--flexbox {
  background-color: #222222;
  width: 100%;
  height: 60%;
}

.contact__container__main__container__content {
  width: 100%;
  height: 100%;
}
.contact__container__main__container__content .contact__container__main__container__content__contactInfos {
  width: 100%;
  height: 100%;
}
.contact__container__main__container__content .contact__container__main__container__content__contactInfos .contact__container__main__container__contactInfos__content__infoContainer {
  width: 100%;
  height: auto;
}

.infoContainer__list {
  display: grid;
  grid-template-rows: repeat(3, 60px);
  align-items: center;
}
.infoContainer__list li {
  display: grid;
  grid-template-columns: 60px 160px;
}
.infoContainer__list li :first-child {
  width: 40px;
  filter: invert(1);
}
.infoContainer__list li .mail__icon {
  width: 30px;
}
.infoContainer__list li .mail__text {
  color: white;
  text-decoration: none;
}

/*----------------------------------------------*/
.contact__container--flexbox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.contact__container--flexbox h1 {
  color: white;
  font-size: 2rem;
}
.contact__container--flexbox h2 {
  color: white;
  font-size: 36px;
  font-weight: bold;
}
.contact__container--flexbox p, .contact__container--flexbox li {
  color: #717171;
  font-size: 12px;
}

@font-face {
  font-family: "hind-bold";
  src: url(../assets/font/hind-bold.otf);
  font-style: bold;
}
@font-face {
  font-family: "hind-light";
  src: url(../assets/font/hind-light.otf);
  font-style: light;
}
@font-face {
  font-family: "hind-medium";
  src: url(../assets/font/hind-medium.otf);
  font-style: medium;
}
@font-face {
  font-family: "hind-regular";
  src: url(../assets/font/hind-regular.otf);
  font-style: regular;
}
@font-face {
  font-family: "hind-semibold";
  src: url(../assets/font/hind-semibold.otf);
  font-style: semibold;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}

@media only screen and (max-width: 412px) {
  .footer__top__blocs--grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 412px) {
  .footer__top__blocs--grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 768px) {
  .footer__top__blocs--grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
  }
}
.footer__top__blocs__ourAddress__container--flexbox {
  margin: 0px 25px 15px;
}

.footer__top__blocs__ourAddress__container__title {
  margin: 20px 0px 20px;
}

.footer__top__blocs__ourAddress__container--flexbox {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__top__blocs__usefulLinks__container {
  margin: 0px 25px 20px;
  height: 230px;
}
.footer__top__blocs__usefulLinks__container .footer__top__blocs__usefulLinks__container__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__top__blocs__usefulLinks__container .footer__top__blocs__usefulLinks__container__links * {
  margin-bottom: 10px;
}

.footer__top__blocs__usefulLinks__container__title {
  margin: 20px 0px 20px;
}

.footer__top__blocs__workingHours__container {
  margin: 0px 25px;
}

.footer__top__blocs__workingHours__title {
  margin: 20px 0px 20px;
}

footer .footer__top__blocs__workingHours__container__shedule--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 200px;
}
footer .footer__top__blocs__workingHours__container__shedule--grid * {
  margin-bottom: 15px;
}

.footer__top__blocs__socialLinks__container {
  margin: 0px 25px;
}

.footer__top__blocs__socialLinks__container__title {
  margin: 20px 0px 20px;
}

.footer__top__blocs__socialLinks .footer__top__blocs__socialLinks__container__icons--grid {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(2, 50px);
  align-items: center;
  justify-items: center;
  margin: 0px 0px 50px;
}
.footer__top__blocs__socialLinks .footer__top__blocs__socialLinks__container__icons--grid.footer__top__blocs__socialLinks__container__icons--grid * {
  width: 40px;
}
.footer__top__blocs__socialLinks .footer__top__blocs__socialLinks__container__icons--grid.footer__top__blocs__socialLinks__container__icons--grid * img {
  filter: invert(1);
}

.footer__top__blocs__socialLinks__container__icons--grid * :first-child {
  background-color: rgba(146, 146, 146, 0.205);
  padding: 10px;
  border-radius: 50%;
}

.footer__bot--flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.493);
  width: 100%;
  height: 150px;
  border-top: 1px solid #717171;
}
.footer__bot--flexbox .footer__bot__container--flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60%;
}
.footer__bot--flexbox .footer__bot__container--flexbox a {
  color: #717171;
  font-size: 12px;
}

.footer__bot__container__logo {
  width: 130px;
}

footer {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
}
footer h2 {
  font-size: 14px;
  font-weight: bold;
  color: white;
}
footer p {
  font-size: 10px;
  font-weight: lighter;
  color: #717171;
}
footer a {
  color: white;
  text-decoration: none;
}

.footer__bgImage {
  width: 100%;
  height: 100%;
  background-color: rgb(58, 58, 58);
  position: absolute;
  z-index: -1;
}
.footer__bgImage .footer__bgImage__color {
  background-color: rgb(255, 4, 4);
  width: 100%;
  height: 100%;
  opacity: 100%;
}
.footer__bgImage .footer__bgImage__image {
  width: 100%;
  height: 100%;
  background-image: url(/resources/images/gallery/room-7-1600-599.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

footer .footer__top--flexbox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__top__blocs--grid {
  width: 80%;
}
footer .footer__top__blocs__ourAddress__index--flexbox,
footer .footer__top__blocs__usefulLinks__index--flexbox,
footer .footer__top__blocs__workingHours__index--flexbox,
footer .footer__top__blocs__socialLinks__index--flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60px;
}
footer .footer__top__blocs__ourAddress__index--flexbox :first-child,
footer .footer__top__blocs__usefulLinks__index--flexbox :first-child,
footer .footer__top__blocs__workingHours__index--flexbox :first-child,
footer .footer__top__blocs__socialLinks__index--flexbox :first-child {
  color: white;
  margin: 5px;
}

footer .footer__top__blocs__index__hr {
  width: 30px;
  height: 2px;
  border: none;
  margin: 0;
  background-color: red;
}

/*# sourceMappingURL=style.css.map */
