@media only screen and (max-width: 412px){
    .footer__top__blocs--grid{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // background-color: blue;
    }
}

@media only screen and (min-width: 412px){
    .footer__top__blocs--grid{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // background-color: greenyellow;
    }
}

@media only screen and (min-width: 768px) {
  .footer__top__blocs--grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // background-color: red;
    margin: 100px;
  }
}
