@import "./footer_ourAddress";
@import "./footer_usefulLinks";
@import "./footer_workingHours";
@import "./footer_socialLinks";
@import "./footer_logo";

// Footer
footer {
  width: 412px;
  height: auto;
  background-color: #3333;
  

  p {
    font-size: 12px;
  }
}

footer {
  .footer__top--flexbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: blue;
  }

  .footer__top__blocs--grid {
    // padding: 1rem;
    width: 90%;
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-row-gap: 12px;

    &.footer__top__blocs--grid *{
      // background-color: grey;
    }
  }
}


footer {
  .footer__top__blocs__ourAddress__index--flexbox,
  .footer__top__blocs__usefulLinks__index--flexbox,
  .footer__top__blocs__workingHours__index--flexbox,
  .footer__top__blocs__socialLinks__index--flexbox {
    // background-color: greenyellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60px;

    & :first-child {
      color: white;
      margin: 5px;
    }
  }
}

footer {
  hr {
    width: 30px;
    height: 2px;
    border: none;
    background-color: red;
  }
}
