 // Container
.footer__bot--flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.493);
    width: 100%;
    height: 150px;
    border-top: 1px solid #717171;
    // Container Inner
    .footer__bot__container--flexbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        // background-color: red;
        width: 100%;
        height: 60%;

        // Copyright Link
        a{
            color: #717171;
            font-size: 12px;
        }
    }
}

.footer__bot__container__logo{
    width: 130px;
}
