
$bg-color-dark : #1b1b1b;
$bg-color-medium : #222222;
$bg-color-light : #FEFEFE;

$button-gray : #C5CFD7;
$main-color : #F60B0E;

$hr-color : #333333;
$hr-color-light : #9B9B9B;

$main-font-color : #717171;
$nav-font-color : #777;